script.
	$(function () {
		// highlight.js
		hljs.initHighlightingOnLoad();

		// bootstrap affix
		$('.bs-docs-sidenav').affix({
			offset: {
				top: function () {
					return $(window).width() <= 980 ? 290 : 210;
				},
				bottom: 270
			}
		});

		// toggle accordion icon
		$('.toggle-accordion').click(function (e) {
			$(e.currentTarget).find('span').toggleClass('glyphicon-chevron-right glyphicon-chevron-down');
		});
	});