head
	title #{name}
	meta(charset='utf8')
	link(rel='stylesheet', type='text/css', href='assets/bootstrap/css/bootstrap.min.css')
	link(rel='stylesheet', type='text/css', href='assets/rainbow.css')
	link(rel='stylesheet', type='text/css', href='assets/doxv.css')
	if css
		link(rel='stylesheet', type='text/css', href=css)
	script(src='assets/jquery-1.11.1.min.js')
	script(src='assets/bootstrap/js/bootstrap.min.js')
	script(src='assets/highlight.pack.js')
